GEMINI_API_KEY=
APP_URL=
FRONTEND_URL=
MONGODB_URI=
MONGODB_DB=webnexa_marketplace
ADMIN_EMAIL=
ADMIN_PASSWORD=
GOOGLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_ID=
JWT_SECRET=
WEBNEXA_AUTH_DATA_FILE=
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
VITE_PAYSTACK_PUBLIC_KEY=
FLUTTERWAVE_PUBLIC_KEY=
VITE_FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_ENCRYPTION_KEY=
FLUTTERWAVE_WEBHOOK_HASH=
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_API_URL=
